.container {
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
}
input{
    font-size: 32px;
    border: 5px solid grey;
    border-radius: 20px;
    height: 50px;
}
button{
    font-size: 36px;
    background: rgb(207, 178, 178);
    width: 90px;
    height: 68px;
    border-radius: 18px;
    margin: 2px;
}
.calculator{
    display: inline-block;
    background: rgb(53, 155, 196);
    border-radius: 12px;
    padding: 18px;
    border: 2px solid rgb(121, 18, 18);
}
h1{
    font-size: 45px;
    color: rgba(255, 94, 0, 0.459);
}

.symbol{
    background-color: yellow;
}